:root {
    --background-color: #0A1C2F;
    --text-color: #FFFFFF;
    --button-color: #06C972;
}

body {
    background-color: var(--background-color);
    margin: 0;
    padding: 0;
}

#root {
    height: 100vh;
}

.users-list {
    width: 50%;
    height: calc(100vh - 8rem);
    margin: 1.25rem auto;
    padding-inline-start: 0;
    color: var(--text-color);
    list-style-type: none;
    overflow-y: auto;
}

.users-list .users-item {
    margin-right: 1rem;
    margin-bottom: 1rem;
    font-size: 1.5rem;
}

.users-list::-webkit-scrollbar {
    width: 10px;
}
  
.users-list::-webkit-scrollbar-track {
    background: #f1f1f1;
}
  
.users-list::-webkit-scrollbar-thumb {
    background: #888;
}
  
.users-list::-webkit-scrollbar-thumb:hover {
    background: #555;
}

form {
    position: fixed;
    bottom: 1rem;
    left: 50%;
    transform: translateX(-50%);
}

form input, form button {
    border: none;
    outline: none;
}

form input {
    margin-right: 1.25rem;
    padding: 0.75rem 0.5rem;
    border-radius: 0.625rem;
}

form button {
    padding: 0.75rem;
    border-radius: 0.75rem;
}